@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --card: 255 255 255;
    --card-foreground: 0 0 0;
  }
  
  .dark {
    --background: 17 24 39;
    --foreground: 255 255 255;
    --card: 31 41 55;
    --card-foreground: 255 255 255;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
  transition: none; /* トランジションを無効化 */
}

/* 追加のカスタムスタイル */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
